/*---------BARRA DO TOPO-------*/
.barra-topo{
    height: 92px;
    width: 100vw;
    background-color: #CF2B2B;
    font-weight: 400;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo{
    margin-top: 8px;
    margin-left: 21px;
}

.barra-topo h1{
    font-size: 44px;
    font-family: 'Righteous', cursive;
}

.barra-topo h2{
    font-size: 18px;
    margin-top: 5px;
}

/*---------CORPO DA PÁGINA---------*/

body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.corpo{
    margin-top: 123px;
}

.corpo h3{
    margin-top: 27px;
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400px;
    margin-bottom: 17px;
    margin-left: 19px;
}

.pratos{
    display: flex;
    overflow-x: scroll;
}

.bebidas{
    display: flex;
    overflow-x: scroll;
}

.sobremesas{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 108px;
}

.first{
    margin-left: 19px;
}

.last{
    margin-right: 200px;
}

.produto{
    width: 172px;
    height: 216px;
    border-radius: 9px;
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 9px;
    margin-right: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.produto img{
    height: 87px;
    width: 144px;
    margin: 13px 9px 0 9px;
    border-radius: 4px;
}

.produto .nome-produto{
    margin-left: 15px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    height: 23px;
    width: 139px;
}

.produto .descricao{
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
    margin-left: 14px;
    margin-top: 5px;
    width: 147px;
}

.produto .preco{
    font-size: 16px;
    font-weight: 400;
    margin: 9px 0 16px 14px;
    height: 19px;
    width: 66px;
}



/*-------------TELA DE CONFIRMAÇAO-----------------*/

.background-confirmacao{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.confirmacao{
    width : 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
    position: fixed;
    left: calc(50vw - 377px/2);
    top: calc(50vh - 353px/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.confirmacao h4{
    color: #FFFFFF;
    margin-top: 21px;
    width: auto;
}

.confirmacao .pedido{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    height: 171px;
    width: 302px;
}

.pedido p{
    margin-top: 13px;
    color: #FFFFFF;
    font-weight: 200;
}

.pedido .precos{
    text-align: right;
}

.confirmacao .negrito{
    font-weight: 700;
}

.confirma-pedido{
    margin-top: 0;
    color: #50D074;
    background-color: #FFFFFF;
    height: 52px;
    width: 333px;
    border: none;
    border-radius: 100px;
    font-size: 22px;
}

.cancela{
    height: 52px;
    width: 333px;
    font-size: 20px;
    color:#FFFFFF;
    background-color: transparent;
    border: none;
}





/*---------BARRA INFERIOR---------*/

.barra-inferior{
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 92px;
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-inferior button{
    background-color: #CBCBCB;
    font-size: 20px;
    border: none;
    height: 61px;
    width: 88vw;
    border-radius: 50px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-inferior button p{
    width: 200px;
}



.selecionado{
    border-color: rgb(50, 183, 47);
}

.icone{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 16px;
    color: rgb(50, 183, 47);
}

.selecionado .icone{
    display: block;
}

.escondido{
    display: none;
}